.commentContainer {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.commentsList {
	flex-grow: 1;
}

.commentForm {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.commentTextArea {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	font-size: 0.9rem; /* Slightly smaller than the post text */
	resize: vertical;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: TTOctosquares;
}

.commentButton {
	width: fit-content;
	align-self: flex-end;
	padding: 5px 10px;
	font-size: 1rem;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: TTOctosquares;
}

.comment {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 0.9rem; /* Slightly smaller than the post text */
	font-family: TTOctosquares;
}

.comment p {
	margin: 0;
}

.comment strong {
	font-weight: bold;
}

.commentDate {
	font-size: 0.75rem; /* Slightly smaller than the post date */
	color: var(--soft-shadow);
}
