.about-body {
    width: 100%;
    max-width: 750px;
    font-family: BabaPro;
    background-color: var(--signup-background);
    border: 2px solid black;
    box-shadow: 4px 5px 0px #000;
}

.about-body * {
    background-color: var(--signup-background);
}

.about-body h2 {
    font-size: 16pt;
}

.group-item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-item {
    border-color: gray;
}

.offical-pages-body {
    font-family: Fjalla One;
    width: 80%;
}

.heading-style {
    color: white;
    background-color: #242C38;
    padding: 6px;
}

.second-heading {
    display: block;
    border-bottom: 5px solid #242C38;
}

.final-phrase {
    display: block;
    border-bottom: 5px solid #242C38;
}

@media only screen and (max-width: 767px) {
    .offical-pages-body {
        width: 100%;
    }
}