:root {
    --signup-background: #f8f4e5;
    --signup-input-focus: #ebe2c2;
    --signup-button-active: #ebe2c2;

    --login-background: #f8f4e5;
    --login-input-focus: #ebe2c2;
    --login-button-active: #ebe2c2;

    --soft-shadow: #b8b199;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin-bottom: 100px;
}

@font-face {
    font-family: Fjalla One;
    src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: TTOctosquares;
    src: url(./assets/fonts/TT-Octosquares-Trial-Regular.ttf);
}

@font-face {
    font-family: Bitsumishi;
    src: url(./assets/fonts/BITSUMIS.TTF);
}

@font-face {
    font-family: BabaPro;
    src: url(./assets/fonts/BabaPro-Bold.ttf);
  }
