:root {
	--signup-background: #f8f4e5;
	--signup-input-focus: #ebe2c2;
	--signup-button-active: #ebe2c2;

	--login-background: #f8f4e5;
	--login-input-focus: #ebe2c2;
	--login-button-active: #ebe2c2;

	--planets-background: black;
	--planets-sun-background: yellow;

	--soft-shadow: #b8b199;

	--metal-grey: #242c38;
	--bright-blue: #2196f3;
}

:root {
	scrollbar-width: thin;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin-bottom: 20px;
	background-color: aliceblue;
}

/* Styles for the react toasts */
.Toastify__toast--success,
.Toastify__toast--error,
.Toastify__toast--info {
	border-radius: 0;
	background-color: var(--signup-background);
	color: var(--metal-grey);
	box-shadow: 4px 5px 0px var(--soft-shadow);
	font-size: 14pt;
}

.Toastify button {
	margin-top: 9px;
	margin-right: 2px;
}

@font-face {
	font-family: Fjalla One;
	src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
	font-family: TTOctosquares;
	src: url(./assets/fonts/TT-Octosquares-Trial-Regular.ttf);
}

@font-face {
	font-family: Bitsumishi;
	src: url(./assets/fonts/BITSUMIS.TTF);
}

@font-face {
	font-family: BabaPro;
	src: url(./assets/fonts/BabaPro-Bold.ttf);
}
