.forgetpassword-container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80vh;
  }

  .forgetpassword-form {
    background: var(--signup-background);
    padding: 48px 59px;
    border: 2px solid black;
    box-shadow: 4px 5px 0px #000;
  }

  .forgetpassword-upperdiv {
    background: var(--signup-background);
    padding: 4px 0px;
    border: 2px solid black;
    box-shadow: 4px 3px 0px #000;
  }

  .forgetpassword-bottomdiv {
    background: var(--signup-background);
    padding: 4px 0px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px #000;
  }

  input {
    display: block;
    width: 100%;
    line-height: 28pt;
    margin-bottom: 20pt;
    box-shadow: 4px 5px;
  }

  input:focus {
    background: var(--signup-input-focus);
  }

  button {
    padding: 2px;
    width: 50%;
    box-shadow: 4px 5px;
  }

  button:active {
    box-shadow: 4px 4px var(--signup-button-active)5;
    transform: translateY(5px);
  }

  select {
    width: 100%;
    margin-bottom: 20pt;
    box-shadow: 4px 5px;
    padding: 6px;
  }

  img { 
    max-width: 250px !important;
  }

  h1 {
    font-family: Bitsumishi;
  }

  h5 {
    font-family: BabaPro;
  }

  .message {
    font-family: BabaPro;
    color: red;
  }