.h3 {
	font-family: Bitsumishi;
}

.p {
	font-family: TTOctosquares;
}

.input {
	font-family: Fjalla One;
}

@media (min-width: 600px) {
	.custom-col {
		width: 4.333333%;
	}

	.custom-col11 {
		width: 94.333333%;
	}
}

@media (max-width: 700px) {
	.custom-col {
		padding-left: 0;
	}
}

.message {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.sender {
	align-items: flex-end;
}

.receiver {
	align-items: flex-start;
}

.message .content {
	padding: 11px;
	border-radius: 10px;
}

.receiver .content {
	background-color: #cadcfc;
	border-bottom-left-radius: 0;
}

.sender .content {
	background-color: #d9f0ff;
	border-bottom-right-radius: 0;
}

.timestamp {
	font-size: 10px;
	color: #999;
	margin-top: 5px;
}

.message .timestamp {
	text-align: right;
}

.fixed-bottom {
    background: #f0f8ff;
}