.login-container {
	display: grid;
	align-items: center;
	justify-items: center;
}

.login-form {
	background: var(--login-background);
	border: 2px solid black;
	box-shadow: 4px 5px 0px #000;
}

.login-upperdiv {
	background: var(--login-background);
	padding: 4px 0px;
	border: 2px solid black;
	box-shadow: 4px 3px 0px #000;
}

.login-bottomdiv {
	background: var(--login-background);
	padding: 4px 0px;
	border: 2px solid black;
	box-shadow: 4px 4px 0px #000;
}

.login-button-login {
	box-shadow: 4px 5px gray !important;
	background: black !important;
	color: white !important;
}

.login-button-login:active {
	box-shadow: 4px 4px var(--login-button-active) 5 !important;
	transform: translateY(5px) !important;
}

.input {
	font-family: Fjalla One;
}

.button {
	font-family: BabaPro;
}

.input,
.button {
	font-size: 14pt;
	background: var(--login-background);
	border: 2px solid black;
	outline: none;
	padding-left: 5px;
}

.input {
	display: block;
	width: 100%;
	line-height: 28pt;
	margin-bottom: 20pt;
	box-shadow: 4px 5px;
}

.button {
	padding: 2px;
	width: 50%;
	box-shadow: 4px 5px;
}

.button:active {
	box-shadow: 4px 4px var(--login-button-active) 5;
	transform: translateY(5px);
}

.img {
	max-width: 250px !important;
}

.input:focus {
	background: var(--login-input-focus);
}

.h1 {
	font-family: Bitsumishi;
}

.h5 {
	font-family: BabaPro;
}

.span {
	font-family: TTOctosquares;
}
