.accordion-item, .accordion-item button {
    background-color: var(--signup-background);
    border: 2px solid black;
	box-shadow: 4px 5px 0px #000;
}

.accordion-item button[aria-expanded = true] {
    background-color: var(--signup-background);
    color: #000;
}

.accordion-item button:focus {
    box-shadow: none;
}

.accordion-item h2 {
    font-family: BabaPro;
}

.accordion-body {
    font-family: TTOctosquares;
}

.clear-btn {
    border: 2px solid black;
	box-shadow: 4px 5px 0px #000;
    border-radius: 0;
    color: aliceblue;
}

.search-btn {
    border: 2px solid black;
	box-shadow: 4px 5px 0px #000;
    border-radius: 0;
    background-color: #2196F3;
    color: aliceblue;
}