.main-container {
    margin: 40% auto;
    width: 60vw;
    height: 60vh;
    background-color: var(--signup-background);
    border: 2px solid black;
    box-shadow: 4px 5px 0px black;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 12px;
}

.title {
    font-size: 15pt;
    font-family: Bitsumishi;
}

.planets {
    border: 2px solid black;
    box-shadow: 4px 5px 0px black;
    height: 80%;
}

.planets:active {
	box-shadow: 0px 0px var(--signup-button-active);
	transform: translateY(5px);
}