.link {
	color: inherit;
	text-decoration: none;
}

.post-container {
	font-family: TTOctosquares;
	max-width: 750px;
	width: 100%;
}

.user-container {
	background-color: #000;
	color: white;
	padding: 2px 8px;
	border-radius: 10px;
	margin: 2px 0px;
	width: max-content;
	box-shadow: 4px 5px 0px var(--soft-shadow);
	text-align: left;
	font-size: 1rem;
}

.para-container {
	background: var(--signup-background);
	color: #000;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin: 2px 0px;
	width: 100%;
	border: 2px solid var(--soft-shadow);
	box-shadow: 4px 5px 0px var(--soft-shadow);
	text-align: left;
	word-break: break-word;
	font-size: 1.1rem;
}

.post-date {
	font-size: 0.6em;
	color: var(--soft-shadow);
}

.icons-container {
	display: flex;
	font-size: 1.75rem;
	gap: 0.75rem;
}

.icons-container button {
	padding: 5px;
	width: auto;
	box-shadow: none;
	border: none;
}

.share {
	margin-right: auto;
}
