.link {
	color: inherit;
	text-decoration: none;
}

.post-container {
	font-family: TTOctosquares;
	width: 100%;
	max-width: 750px;
}

.user-container {
	padding: 2px 8px;
	margin: 2px 0px;
	width: max-content;
	text-align: left;
	font-size: 1rem;
}
