.post-container {
    font-family: TTOctosquares;
}

.user-container {
    background-color: #000;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    margin: 2px 0px;
    width: max-content;
    box-shadow: 4px 5px 0px var(--soft-shadow);
    text-align: left;
    font-size: 1em;
    
}

.para-container {
    background: var(--signup-background);
    color: #000;
    padding: 0px 8px;
    border-radius: 10px;
    margin: 2px 0px;
    width: auto;
    border: 2px solid black;
    box-shadow: 4px 5px 0px #000;
    text-align: left;
    font-size: 0.8em;

}

.post-text {
    margin: 4px 0px;
}

.post-date {
    font-size: 0.6em;
    color: var(--soft-shadow);
}

.icons-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 61% 13% 13% 13%;
    grid-template-areas: "shr book cmt like";
}

.share{
    grid-area: shr;
}

.book{
    grid-area: book;
    text-align: center;
}

.comment{
    grid-area: cmt;
    text-align: center;
}

.like{
    grid-area: like;
    text-align: center;
}