.commentTextArea {
	width: 100%;
	min-height: 50px;
	padding: 10px;
	resize: vertical;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	font-family: TTOctosquares;
}

.commentButton {
	padding: 5px 10px;
	font-size: 1rem;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-family: TTOctosquares;
}
