.header-container {
    background-color: #242C38;
}

.return-icon {
    font-size: 30pt;
    color: #2196F3;
}

.page-title {
    font-size: 2.5em;
    font-family: Bitsumishi;
    display: flex;
    justify-content: end;
    color: #2196F3 !important;
}