.setting-body {
    font-size: x-large;
    font-family: BabaPro;
}

.setting-title {
    font-size: 30pt;
    font-family: Bitsumishi;
}


.group-item {
    background-color: aliceblue;
}

.group-item * {
    background-color: aliceblue;
}

.clickable {
    cursor: pointer;
}

.delete-btn {
    background-color: red;
}