/**
 * Defines styles for list group items.
 */
.list-group-item {
    margin-top: 10px;
    background: #e3f2fd;
    transition: all 0.3s ease-in-out;
    font-family: Bitsumishi;
}

/**
 * Hover styles for list group items.
 */
.list-group-item:hover {
    transform: scaleX(1.1);
    background: #e3f2fd;
}

/**
 * Defines styles for user links.
 */
.userLink {
    text-decoration: none;
}