.userList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.userLink {
    text-decoration: none;
    /* Remove underline from link */
}

.userItem {
    display: flex;
    align-items: center;
    background-color: #242c38;
    padding: 10px;
    border: 2px solid #2196f3;
    border-radius: 8px;
    box-shadow: 4px 5px 0px #355a79;
    color: inherit;
    /* Ensure text color remains the same */
}

.avatar {
    width: 50px;
    /* Control the size of the avatar */
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.userInfo {
    color: #ffffff;
}

.userName {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.userInfo p {
    margin: 5px 0;
}