.loading-text {
	position: relative;
	font-family: Bitsumishi;
	text-shadow: #fc0 1px 0 10px;
	animation: text-shadow-pulse 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.loading-text::before {
	content: '';
	animation: loading-indicators-left 1.25s infinite;
}

.loading-text::after {
	content: '';
	text-shadow: #fc0 1px 0 10px;
	animation: loading-indicators-right 1.25s infinite;
}

@keyframes text-shadow-pulse {
	0% {
		text-shadow: white 0 0 5px;
	}

	100% {
		text-shadow: white 0px 0px 30px;
	}
}

@keyframes loading-indicators-left {
	25% {
		content: '< ';
	}

	50% {
		content: '<< ';
	}

	75% {
		content: '<<< ';
	}
}

@keyframes loading-indicators-right {
	25% {
		content: ' >';
	}

	50% {
		content: ' >>';
	}

	75% {
		content: ' >>>';
	}
}
